<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205805345196-v0j8d5nbtjegstcda0bt1f7jvpi4fp1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205805345196-v0j8d5nbtjegstcda0bt1f7jvpi4fp1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDO71GwpqgwMFSsQXUx5C3_htP1hKtxsLU</string>
	<key>GCM_SENDER_ID</key>
	<string>205805345196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ezgi.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-effe2</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-effe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205805345196:ios:320870fd7bf1f3f0380209</string>
</dict>
</plist>